extends ../layout

block content
    mixin tableTemplateMixin(p)
        table(class=p+'Template' border="1")
            tr(class=p align="center")
                td
                    input
                td
                    select
                        option int
                        option string
                        option array
                        option simpleArray
                        
                        table(class=p+'Array' border="1")
                            tr(align="center")
                                td
                                    a(href="#" onclick='onAdd'+p+'Array(0)') 添加
                            tr(align="center")
                                td 参数名
                                td 类型
                                td 描述
                td
                    input

    mixin tableArrayTemplateMixin(p)
        table(class=p+'ArrayTemplate' border="1")
            tr(class=p+'Array' align="center")
                td
                    input
                td
                    select
                        option int
                        option string
                td
                    input


    mixin paramsMixin(p)
        hr
        p 上行参数
        a(href="#" onclick="onAdd"+p+"()") 添加
        table(class=p border="1")
            tr(align="center")
                td 参数名
                td 类型
                td 描述


    script.
        var g_c2sCount = 0;
        var g_s2cCount = 0;

        String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {    
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg = new RegExp("({[" + i + "]})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        }


        function onAddc2s() {
            var tb = $('table.c2s');
            var firstTr = $('table.c2sTemplate tr:eq(0)');
            var html = firstTr.html();
            
            html = html.replace("c2sArray", "c2sArray" + g_c2sCount);
            html = html.replace("onAddC2SArray(0)", "onAddC2SArray(" + g_c2sCount + ")");
            html = '<tr class="c2s" align="center">' + html + '</tr>';
            
            tb.append(html);

            g_c2sCount++;
        }

        function onAddc2sArray(trIndex) {
            var tableName = 'table.c2sArray' + trIndex;
            var tb = $(tableName);
            var firstTr = $("table.c2sArrayTemplate tr:eq(0)");
            var html = firstTr.html();
            html = '<tr class="c2sArray" align="center">' + html + '</tr>';

            tb.append(html);
        }

        function onAdds2c() {
            var tb = $('table.s2c');
            var firstTr = $('table.s2cTemplate tr:eq(0)');
            var html = firstTr.html();
            
            
            html = html.replace("s2cArray", "s2cArray" + g_s2cCount);
            html = html.replace("onAddS2CArray(0)", "onAddS2CArray(" + g_s2cCount + ")");
            html = '<tr class="s2c" align="center">' + html + '</tr>';
            
            tb.append(html);

            g_s2cCount++;
        }

        function onAdds2cArray(trIndex) {
            var tableName = 'table.s2cArray' + trIndex;
            var tb = $(tableName);
            var firstTr = $("table.s2cArrayTemplate tr:eq(0)");
            var html = firstTr.html();
            html = '<tr class="s2cArray" align="center">' + html + '</tr>';

            tb.append(html);
        }

        function makeRequest() {
            var data = {};
            var c2sTr = $('table.s2c tr:eq(1)');

            console.log(c2sTr);

            for (var i = 0; i < c2sTr.length; ++i) {
                console.log(c2sTr[i]);
            }
            return data;
        }

        function makeAck() {
            var data = {};


            return data;
        }

        function onCommitClicked() {
            makeRequest();
            return;

            var type = $('select.type').val();
            var data = {
                route: $('input.route').val(),
                "note": $('input.note').val(),
                //- "request": {
                //-     "host": {
                //-         "type": "string",
                //-         "desc": "服务器ip"
                //-     },
                //-     "port": {
                //-         "type": "int",
                //-         "length": 4,
                //-         "desc": "服务器端口号"
                //-     }
                //- },
                //- "ack":
                //- {

                //- }
            };

            if (type === 'request') {
                data.request = makeRequest();
                data.ack = makeAck();
            }
            else if (type === 'push') {
                data.request = makeRequest();
            }
            else if (type === 'notify') {
                data.ack = makeAck();
            }
            else {
                alert("协议类型错误");
                return;
            }

            console.log(data);
        }

    h1 协议编辑

    div
        p 路由：
            input.route() 

        p 描述：
            input.note

        p 类型：
            select.type
                option request
                option push
                option notify

        div.templates(style="display : none")
            +tableTemplateMixin('c2s')
            +tableTemplateMixin('s2c')

            +tableArrayTemplateMixin('c2s')
            +tableArrayTemplateMixin('s2c')


        div.c2s
            +paramsMixin('c2s')

        div.s2c
            +paramsMixin('s2c')


        div
            hr
            button(onclick="onCommitClicked()") 保存